<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill: <%= skill.text.join(" ") %></title>
    <link rel="stylesheet" href="/css/skillNotebookStyle.css">
    <script>
        const skillId = <%-skill._id%>;
        const skillTreeName = "<%= skillTreeName %>";
        const userSkillId = <%-userSkill._id%>;
    </script>
    <script src="/js/skillNotebook.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
</head>
<body>
<div class="user-bar"> Hello admin! | <a href="leaderboard.html">Leaderboard</a> | <a href="/">Electronics Skill Tree</a></div>
<div class="container">
    <div class="header">
        <div>
            <div class="skill-title">Skill: <%= skill.text.join(" ") %></div>
            <div class="skill-score">Skill Score: <%= skill.score %> points</div>
        </div>
    </div>
    <div class="svg-wrapper" data-id="<%= skill.taskID %>" data-custom="false">
        <svg width="100" height="100" viewBox="0 0 100 100">
            <polygon class="hexagon" points="50,5 95,27.5 95,72.5 50,95 5,72.5 5,27.5"/>
            <text id="hexagon-text" x="50%" y="30%" text-anchor="middle" fill="black" font-size="10">
                <% skill.text.forEach((word, index) => { %>
                    <tspan x="50%" dy="<%= index === 0 ? '0' : '1.2em' %>" font-weight="bold"><%= word %></tspan>
                <% }) %>
            </text>
            <% if (skill.icon) { %>
                <image id="hexagon-image" x="35%" y="60%" width="30" height="30" href="<%= skill.icon %>"/>
            <% } %>
        </svg>
    </div>
    <div class="description">
        <h3>Description</h3>
        <%= skill.description %>
    </div>
    <div class="tasks">
        <h3>Tasks to Complete</h3>
        <ul>
            <% skill.tasks.forEach(task => { %>
                <li><input type="checkbox" class="task-checkbox"> <%= task %></li>
            <% }) %>
        </ul>
    </div>

    <div id="form-container"></div>

    <div class="resources">
        <h3>Resources</h3>
        <ul>
            <% skill.resources.forEach(resource => { %>
                <li>
                    <%= resource %>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
</body>
</html>
